@model List<List<String>>
@{
    var Codigo = (String)ViewData["Codigo"];
    var Nombre = (String)ViewData["Nombre"];
    var Apellido = (String)ViewData["Apellido"];
    var Fotografia = (String)ViewData["Fotografia"];
    ViewData["Title"] = "Index";
}

<div class="text-right">
    <h3>Catedratico: @Nombre @Apellido -- Codigo: @Codigo </h3>
    <a class="btn btn-primary btn-sm ml-auto" asp-area="" asp-controller="Home" asp-action="Index">Logout</a>
</div>

<div class="home_content text-center">
    <h2>Modulo Maestro</h2>
    <h4>Curso: </h4>
</div>

<div class="home_content text-center">
    <a class="btn btn-primary btn-sm ml-auto" asp-area="" asp-controller="ModuloMaestro" asp-action="Index">Publicaciones</a>
    <a class="btn btn-primary btn-sm ml-auto" asp-area="" asp-controller="ModuloMaestro" asp-action="MaterialApoyo">Material de Apoyo</a>
    <a class="btn btn-primary btn-sm ml-auto" asp-area="" asp-controller="ModuloMaestro" asp-action="Actividades">Actividades</a>
    <a class="btn btn-primary btn-sm ml-auto" asp-area="" asp-controller="ModuloMaestro" asp-action="Alumnos">Alumnos</a>
</div>

<div>
    <link href="~/css/div.css" rel="stylesheet" />

    <div class="grid-container">
        <div class="CuadroInfo">
            <div class="Textcenter">
                <table class="table">
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <h2>@(item.ElementAt(0))</h2>
                            <h6>Descripcion: @(item.ElementAt(1))</h6>
                            <h6>Materia: @(item.ElementAt(2))</h6>
                            <h6>Publicacion: @(item.ElementAt(4))</h6>
                            <a asp-action="Edit" asp-route-id="@(item.ElementAt(0))">Editar &nbsp &nbsp &nbsp</a>
                            <a asp-action="Delete" asp-route-id="@(item.ElementAt(0))">Eliminar</a>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <div class="SubInfo"></div>
        <div class="SubInfo2">
            <a class="btn btn-primary btn-sm ml-auto" asp-area="" asp-controller="ModuloMaestro" asp-action="Alumnos">Subir Archivo</a><br /><br />
            <a class="btn btn-primary btn-sm ml-auto" asp-area="" asp-controller="ModuloMaestro" asp-action="Alumnos">Publicar Material</a><br /><br />
            <a class="btn btn-primary btn-sm ml-auto" asp-area="" asp-controller="ModuloMaestro" asp-action="Alumnos">Programar Material</a>
        </div>
    </div>
</div>
